@CHARSET "EUC-KR";

			body, table, div, p {font-family:"Nanum Gothic", sans-serif;}
			.normal { font-weight: 400 }  .bold { font-weight: 700 } .bolder { font-weight: 900 } .light{ font-weight: 300 }
			a {	text-decoration: none; }
			a:link{ color: #fff; }
			a:visited { color: #fff; text-decoration: none; }
			a:hover { color:#00A0C6; text-decoration:none; cursor:pointer; }
			p{margin: 0; padding: 0;}
			body{
				width: 1920px;
				height: 1008px;
				margin: 0;
				padding: 0;				
			}
			
			.container{
				width: 100%;
				height: 100%;
			}
			.top-container{
				width: 100%;
				height: 7.5%;
				border-bottom: 4px solid #ccc;
				background: none;
				position: relative;
				
			}
			.mid-container{
				width: 100%;
				height: 92.2%;
				display: block;
				background-image: url(/common/img/bedview/bigbg-2.jpg);
				background-size: cover;
				background-repeat: no-repeat
			}
			.mid-container>.con-box{width: 33.33%; height: 85%; float: left; background: rgba(255,255,255, .95);}
			.mid-container>.btn-box{width: 33.33%; height: 85%; float: left; background: rgba(255,255,255, .95);}
			.mid-container>.slide-box{width: 33.33%; height: 85%; float: left; background: rgba(255,255,255, .95); position: relative; top:-7.7%;}
			.mid-container>.bottom-box{width: 70%; height: 8%; float: left; background: rgba(0,0,0, .8); position: relative; top:-7.7%;}
			
			
		
			.mid-contants-box{
				width: 88%;
				height: 90%;
				margin: 9.5% 6% 0%;
			}
			.top-left-box{
				width: 20%;
				height: 100%;
				position: relative;
				left: 3%; top: 10%;
			}
			.top-right-box{
				width: auto;
				height: 100%;
				float: right;
				position: relative;
				top: -100%; right: 1.5%;
			}
			.top-right-box>img{
				width: auto;
				height: auto;
				max-height: 60%;
				margin-top: 10%;
			}
			.top-left-box>.icon-deco{
				width: 30%;
				height: 140%;
				border-radius: 50%;
				background: #ccc;
				text-align: center;
				position: relative;
			}
			.top-left-box>.icon-deco> img{
				width: 70%;
				height: 70%;
				margin-top: 12.5%;
				border-radius: 0%;
			}
			.top-container>.top-left-box>a{
				width: auto;
				height: auto;
				font-size: 1.5rem;
				color: rgba(0,0,0, .6);
				font-weight: bold;
				display: block;
				position: relative;
				left: 33%; top: -90%;
				text-shadow: 0px 1px 0.5px rgba(0,0,0, .6);				
			}
			
			.con-box-con1{width: 100%; height: 40%; margin: auto; border-radius: 10px;}
			.con-box-con2{width: 100%; height: 28%; margin: 3.5% 0%; border-radius: 10px;}
			.con-box-con4{width: 100%; height: 26%; margin: auto; border-radius: 10px;}
			
			.con-box-con1>.title-box{
				width: 100%;
				height: 20%;
				border-radius: 10px 10px 0px 0px;
				text-align: center;
				line-height: 1.5;
			}
			.con-box-con1>.title-box>p{
				font-size: 2.25rem;
				font-weight: bold;
				color: #fff;				
				text-transform: uppercase;
				vertical-align: middle;
				text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 22px 30px rgba(0,0,0,0.9), 2px 2px 2px rgba(255,255,255,0);
			}
			.title-box>a{vertical-align: middle;}
			
			
			
			.con-box-con1>.info-box{
				width: 95%;
				height: 73%;
				margin: 0% 1.5%;
				padding: 1%;
				border-radius: 5px;
				background: #fff;				
			}
			
			.con-box-con1>.info-box>.name-box-container{
				width: 95%;
				height: 100%;
				padding: 0%;
				margin: 0% 2.5%;
			}
			.name-box-container>.name-box1{
				width: 50%;
				height: auto;
				float: left;
/* 				margin:0% 10%; */
			}
			.name-box1>.title{
				width: 90%;
				height: auto;
				margin: 0%;
				padding: 0%;
				text-align: left;
				font-size: 1.45rem;
				font-weight: bolder;
				color: rgba(0,0,0, .75);
				text-shadow: 0px 1px 2px #ccc;
			}
			.name-box1>.contants{
				width: 90%;
				height: auto;
				margin: 0;
				padding-top: 5%;
				text-align: left;
				font-size: 3rem;
				font-weight: bold;
				text-shadow: 0px 1px 2px #b2b2b2;
				color: rgba(0,0,0, .8);
			}
			.name-box-container>.con-box{
				width: 99.6%;
				height: auto;
				margin-top: 1%;
				min-height: 10%;
				display: inline-block;
				line-height: 1.75;
				border-top: 1px solid rgba(0,0,0, .5);
			}
			.name-box-container>.con-box>.title{
				width: 35%;
				height: auto;
				margin: 0;
				padding: 0;
				float: left;
				font-size: 1.75rem;
				font-weight: bolder;
				text-shadow: 0px 0px 2px #ccc;
				color: rgba(0,0,0, .5);
				vertical-align: bottom;
			}
			.name-box-container>.con-box>.contants{
				width: 65%;
				height: auto;
				margin-top: 1.25%;
				margin-bottom: 0.5%;
				padding: 0; 
				float: left;
				font-size: 1.4rem;
				font-weight: bolder;
				text-shadow: 0px 0px 2px #ccc;
				color: rgba(0,0,0, .85);
				vertical-align: middle;
				text-transform: capitalize;
			}
			.con-box-con2>.con-box1{
				width: 20%;
				height: 100%;
				color: #FFFFFF;
				text-shadow: #474747 1.5px 2.5px 2px;
				font-size: 2.5rem;
				font-weight: bold;
				text-align:	center;
				line-height: 1.7;
				border-radius: 10px 0px 0px 10px;
				letter-spacing: 0.2rem;
				float: left;
				position: relative;				
			}
			.con-box-con2>.con-box1>p{
					margin-top: 28%;
				}
			.con-box-con2>.con-box2{
				width: 100%;
				height:100%;
				margin: 0%;
				float: left;
				border-radius: 5px 10px 10px 5px
			}
			
			
			.con-box2>.con-box{
				width: 40%;
				height: 90%;
				float: left;
				margin: 1.5% 7%;
				text-align: center;
				border-radius: 10px;
				box-shadow: 0px 10px 13px -7px #000, 5px 5px 15px 5px rgba(130,81,255,0), 5px 5px 15px 5px rgba(130,81,255,0);
			}
			.con-box2>.con-box:first-child{ margin-left:3%;}
			.con-box2>.con-box:last-child { margin-right:3%;}
			
			.con-box2>.con-box> img{width: 45%; height: auto; margin: 8% 22%;}
			.con-box2>.con-box>a{ font-size: 2rem; font-weight:bold; color: white;}
			
			.con-box-con4>.con-box1{
					width: 20%;
					height: 100%;
					color: #FFFFFF;
					text-shadow: #474747 1.5px 2.5px 2px;				
					font-size: 2.5rem;
					font-weight: bold;
					text-align:	center;
					line-height: 1.3;
					border-radius: 10px 0px 0px 10px;
					letter-spacing: 0.2rem;
					float: left;
					position: relative;
					}
					
			.con-box-con4>.con-box1>p{
					margin-top: 12.5%;
				}
			.con-box-con4>.con-box2{
				width: 78.5%;
				height:93%;
				margin: 1% 0%; 
				background: #fff;
				float: left;
				border-radius: 5px 10px 10px 5px
			}
			.con-box2>.con-box2-1{
					width: 95%;
					height: auto;
					margin-top: 0%;
					min-height: 24%;
					margin-left: 2.5%;
					line-height: 1.8;
					float: left;
					border-bottom: 1px dashed #000;
					
				}
			.con-box2-1:last-child{border: none;}
			.con-box2>.con-box2-1>.title{
					margin: 0% 4%;
					color: #171c60;
					font-weight: bold;
					text-shadow: 0.5px 1px 2px #ccc;
					font-size: 1.5rem;
					text-align:	left;
				}
			.con-box2>.con-box2-1>.tel{
					margin: 0% 4%;
					color: #171c60;
					font-weight: bolder;
					text-shadow: 0.5px 1px 2px #ccc;
					font-size: 1.3rem;
					text-align:	left;
				}	
				
			.btn-box-container{
				width: 95%;
				height: 90%;
				display: block;
				margin-top: 8.5%;
				color: #fff;
				font-size: 1.5rem;
				text-align: left;
				font-weight: bold;
			}
			.btn-box-container>.btn-type2-1,.btn-box-container>.btn-type2-2,.btn-box-container>.btn-type2-3{
				border-radius: 6px;
				margin-left: 1.5%;
				margin-top: 1.2%;
				position: relative;
				float: left;
				text-align: center;
			}
			.btn-box-container>.btn-type2-1{width:31.7%; height:24%;}
			.btn-box-container>.btn-type2-2{width:64.9%; height:24%;}
			.btn-box-container>.btn-type2-3{width:31.7%; height:49.0%;}
			.btn-type2-1> div img{
				width: 40%;
				height: auto;
				max-height: 30%;
				float: left;
				margin: 15% 30% 3% 30%;
				vertical-align: middle;
			}
			.btn-type2-1> div a{
				width: 100%;
				height: auto;
				vertical-align: bottom;
				text-decoration: none;
			
			}
			.btn-type2-2> div img{
				width: 23%;
				height: auto;
				max-height: 30%;
				float:  none;
				margin: 7% 38% 2% 38%;
				vertical-align: middle;
			}
			.btn-type2-2> div a{
				width: 50%;
				height: auto;
				vertical-align: bottom;
				text-decoration: none;
			
			}
			.btn-type2-3> div img{
				width: 40%;
				height: auto;
				max-height: 30%;
				float: left;
				margin: 50% 30% 5% 30%;
				vertical-align: middle;
				text-decoration: none;
			
			}
			.btn-type2-3> div a{
				width: 100%;
				height: auto;
				vertical-align: bottom;
			}
			
			/*btn-type1*/
			/*.btn-box-container>.btn-type1-1{
				width: 50%;
				height: 20%;
				float: left;
				line-height: 6;
				text-align: left;
			}
			.btn-box-container>.btn-type1-2{
				width: 100%;
				height: 20%;
				float: left;
				line-height: 6.5;
				background: rgba(0,0,0, .3);
				margin-top: 0%;
				text-align: center;
			}
			.btn-type1-1> div img{
				width: 35%;
				height: auto;
				max-height: 100%;
				float: left;
				margin: 2% 7%;
				vertical-align: middle;
			}
			.btn-type1-2> div img{
				width: 35%;
				height: auto;
				max-height: 100%;
				float: left;
				vertical-align: middle;
			}
			.btn-type1-1> div a{
				width: 55%;
				height: 100%;
				vertical-align: bottom;
				margin-left: 8%;
				}
			.btn-type1-2> div a{
				width: 60%;
				height: 100%;
				vertical-align: middle;
				float: right;
			}
			.btn-box-container>.margin-l{ margin-left: 0%;}
			.btn-box-container>.margin-lt{ margin-top:0%;}*/

			.jR3DCarouselGalleryCustomeTemplate .btn-captions{
				position: relative;
				padding: 10px 0;
				bottom: 27px;
				background: #ec1c8e;
				display:block;
			}
			.jR3DCarouselGalleryCustomeTemplate a{
				text-decoration: none;			
			}
			.slide-captions{
				width: 90%;
				height: 18%;
				position: relative;
				float: right;
				box-shadow: inset 0px 0px 2px rgba(226,124,77,1);
				background: rgba(255,153,102,0.85);  /* fallback for old browsers */
				background: -webkit-linear-gradient(to right tp top, rgba(255,94,98,0.85), rgba(255,153,102,0.85));  /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to right, rgba(255,94,98,0.85), rgba(255,153,102,0.85)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				margin-top: -10%;				
				text-align: right;
				border-radius: 12px 0px 0px 12px;
			}
			.slide-captions>img{
				width: 100%;
				height: 100%;
				float: left;
				line-height: 1.5;
				; 
			}
			/*.slide-captions>a{
				width: 65%;
				float: right;
				text-align: left;
				color: #fff;
				font-size: 1.3rem;
				font-weight: bold;
				line-height: 1.5;
				margin-left: 0.5%; 
			}*/
			/* 공지사항 슬라이드 */
			.notice{width:100%; height:74px; overflow:hidden;}
			.rolling{position:relative; width:100%; height:auto;}
			.rolling li{width:100%; height:50px; line-height:45px;}
			.rolling li a{ font-size: 1.5rem; font-weight: bold;}
			
			.bg0{background: #fff; color:#000; box-shadow: inset 0 0 1px #000;}
			.bg1{background: #1D3A5A;}
			.bg2{background: #F37E53;}
			.bg3{background: #FAB235;}
			.bg4{background: #B3AF44;}
			.bg5{background: #976EE8;}
			.bg6{background: #4B83C0;}
			.bg7{background: #23B6A6;}
			
/* 			body, table, div, p {font-family:'NanumSquareRound','NanumSquare',"Nanum Gothic", sans-serif;} */
			
			
			/*========== pop - common ==========*/
			.pop-container{
				width: 720px;
				height: auto;
				min-height: 400px;
				border-radius: 10px;
				justify-content: center;
				align-items: center;
				position: absolute;
				box-shadow: 0px 7px 5px #ccc;
				background-color: rgba(255,255,255, .8);
				background-image:url('/common/img/bedview/ptbg.png');
				background-repeat: repeat;
				background-size: cover;
			}			
			.pop-container>.pop-title{
				width: 720px;
				min-height: 70px;
				margin: auto;				
				text-align: center;
				
				box-shadow: 0px 3px 0px #ccc;
				border-radius: 10px 10px 0px 0px;
			}
			.pop-title a{
				font-size: 2.5rem;
				line-height: 2;
				color: #fff;
				font-weight: bold;
				text-shadow: 0px 4px 0px rgba(0,0,0,0.4), 3px 0px 5px rgba(0,0,0,0.3);
			}
			.pop-title>img{
				width: 50px;
				height: auto;
				float: right;
				margin: 12.5px 20px 0px 0px;				
			}
				.warning-noti{
				width: 700px;
				height: auto;
				box-shadow: 0px -2px 0px #ccc;
				color: #ccc;
				padding: 10px 10px;
				line-height: 40px;
			}
			div.warning-noti > .title{
				width: 90px;
				height: auto;
				color: #fff;
				border-radius: 20px;
				margin: 0px 25px 10px 25px;
				text-align: center;
				float: left;
				font-size: 1.75rem;
				font-weight: bold;
				letter-spacing: 0.3rem;
				
			}
			div.warning-noti > .con{
				max-width: 550px;
				height: auto;
				color: #a1a1a1;
				border-radius: 20px;
				text-align: left;
				float: left;
				font-size: 1.25rem;
				font-weight: bold;
				letter-spacing: 0.05rem;
				vertical-align: bottom;
				
			}
			/* ========== pop common end========== */
			
			
			/*btn-type1*/
			div.cost-btn-container{
				width: 680px;
				height: auto;
				margin: 10px 10px;
			}
			.cost-btn{
				width: 285px;
				height: auto;
				margin-left: 45px;
				margin-bottom: 10px;
				position: relative;
				border-radius: 15px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
			}
			.cost-btn:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 50%;
				bottom: 0px;
				left: 0px;
				background:rgba(0,0,0, 0.05);
				pointer-events: none;
			}
			
			.cost-btn:first-child { margin-top: 14px; }
			
			.cost-btn> a{
				font-size: 1.25rem;
				font-weight: bold;
				padding: 0px 40px;
				vertical-align:  baseline;
				letter-spacing: 0.5rem;
			}
			
			.cost-btn>img{
				width: 50px;
				margin: 5px 10px;
				left: 0;
				right: 0;
			}
			.btn-final-container{
				width: 180px;
				height: 60px;
				justify-content: center;
				align-items: center;
				text-align: center;
				border-radius: 30px;
				margin-left: 270px;
				margin-bottom: 20px;
			}
			.btn-final-container h1{
				margin-top: 0px;;
				padding-top: 12.5px;
				font-size: 2rem;
				color: rgba(255,255,255, 1.0);
				letter-spacing: 0.25rem;
			}
			/* pop cost */
			table{
					border-spacing: 1px;
					border-collapse: collapse;
					background: white;
					border-radius: 10px;
					overflow: hidden;
					width: 650px;
					margin: 10px auto;
					position: relative;
					box-shadow: 0px 0px 5px #ccc;
					text-align: center;
		    }
			  table * {
               position: relative;
			   padding: 0;
            }
              table td, table th {
               border-right: 1.5px solid #ccc;
            }
			    table td:last-child {
				 border: 0;
			}
			 thead tr {
			height: 45px;	
            font-family: OpenSans-Regular;
            font-size: 1.5rem;
            color: #fff;
            line-height: 1.1;
            font-weight: unset;
			box-shadow: 0px 1px 5px #b2b2b2;
            }
			 thead tr>.title{
			width: 120px;
			font-family: OpenSans-Regular;
            font-size: 1.5rem;
            color: #fff;
            line-height: 1.1;
            font-weight: unset;
			box-shadow: 0px 1px 5px #b2b2b2;
            }
			 tbody tr {
			height: 80px;	
            font-family: OpenSans-Regular;
            font-size: 1.25rem;
            color: #383838;
            line-height: 1.1;
            font-weight: unset;
			border-bottom: 1.5px solid #ccc;
            }
			 tbody tr:last-child{border: none;}
			 tbody tr>.title{
				font-size: 1.5rem;
				padding: 0;
				
			 }
		
			
			
				/*btn-call*/
			div.call-btn-container{
				width: 680px;
				height: auto;
				margin: 10px 20px;
			}
			
			
			.call-btn{
				width: 275px;
				height: auto;
				margin-left: 45px;
				margin-bottom: 10px;
				position: relative;
				border-radius: 15px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
			}
			.call-btn:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 35%;
				bottom: 0px;
				left: 0px;
				background: rgba(255,255,255, 0.05);
				pointer-events: none;
			}
			.call-btn:first-child { margin-top: 0px; }
			.call-btn:last-child{ margin-bottom: 0px; }
			
			.call-btn> a{
				padding-left: 20px;
				letter-spacing: 0.05rem;
				color: #fff;
				font-weight: bold;
				font-size: 1.25rem;
			}
			
			.call-btn>img{
				width: 50px;
				margin: 5px 0px;
			}
			
			img.call-img {
				margin-right:30px;
			}
			
			div.popup-box {
				display:block;
				top:20%;
				left:30%;
				position:absolute;
			}
			
			div.popup-area {
				display:none;
				position:fixed;
				background:rgba(0,0,0,0.6);
				top:0;
				bottom:0;
				left:0;
				right:0;
				margin:0;
				padding:0;
				z-index:9999;
				vertical-align:middle;
			}
			
			
			/* background all
			
			.bg0{background: #fff; color:#000; box-shadow: inset 0 0 1px #000;}
			.bg1{background: #1D3A5A;}
			.bg2{background: #F37E53;}
			.bg3{background: #FAB235;}
			.bg4{background: #B3AF44;}
			.bg5{background: #976EE8;}
			.bg6{background: #4B83C0;}
			.bg7{background: #23B6A6;}		 */
			
			.bg1-1{background: rgba(29,58,90,0.95);}
			.bg2-1{background: rgba(243,126,83,0.95);}
			.bg3-1{background: rgba(250,178,53,0.95);}
			.bg4-1{background: rgba(179,175,68,0.95);}
			.bg5-1{background: rgba(151,110,232, .95);}
			.bg6-1{background: rgba(75,131,192, .95);}
			.bg7-1{background: rgba(35,182,166, .95);}
			.bg111{background: rgba(255,255,255, .9);}