<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ko">
 <head>
  <title> 병상용TV </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquare/master/NanumSquare.min.css">
  <link rel="stylesheet" type="text/css" href="css/color.css">
  <link rel="stylesheet" type="text/css" href="css/design.css">
  <link rel="stylesheet" type="text/css" href="scss/btn.css">
</head>
<body>
	<div>
		<div class="sub_frame blue_bt_infobg">
			<div class="sub_title blue_bt_info_title"> 
				<div><p>병원정보_관절치료센터</p></div>
				<div><a href=""><img src="img/icon_5.png"></a></div>
			</div>
			<div>
				<a><img class="con_img" src="img/con_01.jpg"></a>
			</div>
		</div>
	</div>

</body>
</head>
</html>
